---
export const prerender = true;
import Layout from "../layouts/Layout.astro";

const name = Astro.url.searchParams.get("name")?.toLowerCase();
const letter = name && name[0];

let words: string[] = [];
// read words from file with letter name

if (letter) {
  words = await import(`../words/${letter}.json`).then((data) => data.default);
}

// get random word from words
const word = words[Math.floor(Math.random() * words.length)];
---

<Layout title="neue-nice-namen">
  <main class="flex items-center justify-center h-screen p-6 m-auto">
    {
      name ? (
        <div class="flex flex-col">
          <h1 class="flex flex-wrap justify-center m-0 text-4xl font-extrabold [line-height:1.5] text-center md:[line-height:1.5] md:text-5xl">
            <span
              id="alliteration"
              class="inline-block text-transparent capitalize break-all bg-clip-text from-purple-500 to-pink-500 bg-gradient-to-tr"
            >
              Astro
            </span>
            <span class="inline-block">-</span>
            <span class="capitalize ">{name}</span>
          </h1>
          <div class="flex gap-2 m-auto mt-6">
            <button
              id="back-button"
              class="inline px-4 py-2 text-sm transition-colors rounded-md md:text-base w-fit bg-slate-200 hover:bg-slate-300"
            >
              Zurück
            </button>
            <button
              id="new-button"
              class="inline px-4 py-2 text-sm text-white transition-all rounded-md opacity-90 from-purple-500 to-pink-500 bg-gradient-to-bl md:text-base w-fit hover:opacity-100"
            >
              Mehr Mixen
            </button>
          </div>
        </div>
      ) : (
        <div class="flex flex-col">
          <h1 class="m-0 text-5xl font-extrabold text-center">
            Was ist dein Name?
          </h1>
          <form class="m-auto mt-4 w-80">
            <input
              type="text"
              name="name"
              class="w-full p-2 mt-4 border-2 border-gray-300 rounded-md"
            />
            <button
              type="submit"
              class="inline w-full px-4 py-2 m-auto mt-2 text-sm transition-colors rounded-md md:text-base bg-slate-200 hover:bg-slate-300"
            >
              Weiter
            </button>
          </form>
        </div>
      )
    }
  </main>
</Layout>
<script define:vars={{ word, letter }}>
  const alliteration = document.getElementById("alliteration");
  alliteration && (alliteration.innerText = word);

  document.getElementById("back-button")?.addEventListener("click", () => {
    window.history.replaceState(null, null, window.location.pathname);
    window.location.reload();
  });

  document.getElementById("new-button")?.addEventListener("click", () => {
    fetch(`/${letter}.json`)
      .then((res) => res.json())
      .then((data) => {
        alliteration && (alliteration.innerText = data.word);
      });
  });
</script>
