---
export const prerender = true;
import Layout from "../layouts/Layout.astro";

const name = Astro.url.searchParams.get("name");
const letter = name && name[0].toUpperCase();

let words: string[] = [];
// read words from file with letter name

if (letter) {
  words = await import(`../words/${letter.toLowerCase()}.json`).then(
    (data) => data.default
  );
}

// get random word from words
const word = words[Math.floor(Math.random() * words.length)];
---

<Layout title="manchmal muss man maschinell maja-mixe machen">
  <main class="m-auto p-6 flex justify-center items-center h-screen">
    {
      name ? (
        <div class="flex flex-col">
          <h1 class="text-center text-5xl m-0 font-extrabold flex h-12">
            <span
              id="alliteration"
              class="bg-clip-text text-transparent from-purple-500 to-pink-500 bg-gradient-to-tr leading-10 capitalize"
            >
              Astro
            </span>
            <span class="leading-10">-</span>
            <span class="capitalize leading-10">{name}</span>
          </h1>
          <button
            onclick="window.history.replaceState(null, null, window.location.pathname);window.location.reload();"
            class="inline w-fit px-4 py-2 m-auto mt-6 bg-slate-200 rounded-md hover:bg-slate-300 transition-colors"
          >
            Zurück
          </button>
        </div>
      ) : (
        <div class="flex flex-col">
          <h1 class="text-center text-5xl m-0 font-extrabold">
            Was ist dein Name?
          </h1>
          <form class="w-80 m-auto mt-4">
            <input
              type="text"
              name="name"
              class="w-full mt-4 p-2 border-2 border-gray-300 rounded-md"
            />
            <button
              type="submit"
              class="inline w-full px-4 py-2 m-auto mt-2 bg-slate-200 rounded-md hover:bg-slate-300 transition-colors"
            >
              Weiter
            </button>
          </form>
        </div>
      )
    }
  </main>
</Layout>
<script define:vars={{ word }}>
  const alliteration = document.getElementById("alliteration");
  alliteration && (alliteration.innerText = word);
</script>
